doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
  script(src='/javascripts/iioEngine-1.2.1.js')
  script(src='/javascripts/iioDebugger-1.0.js')
  script(src='/javascripts/iioBreakout.js')